/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --dark-raspberry-bg: hsl(322, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --ff-head: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-head);
}

body {
  display: inherit;
  height: inherit;
  font-family: var(--ff-body);
}

h1 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--dark-charcoal);
}

h2 {
  font-size: 1.75rem;
  color: var(--nutmeg);
}

p, ul, ol, strong, b, a {
  font-family: var(--ff-body);
  font-size: 1rem;
  color: var(--wenge-brown);
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-position: outside;
}

#hero li::marker {
  color: var(--dark-raspberry);
}

#ingredients li::marker,
#instructions li::marker {
  color: var(--nutmeg);
}

#hero li::marker,
#ingredients li::marker {
  font-size: 0.625rem;
}

#instructions li::marker {
  font-weight: var(--fw-bold);
}

#hero strong {
  color: var(--dark-raspberry);
}

#nutrition b {
  color: var(--nutmeg);
}

footer {
  font-family: var(--ff-body);
  font-size: 0.6875rem;
  text-align: center;
}
footer > a {
  font-size: 0.6875rem;
  color: var(--dark-raspberry);
}

/* #endregion Defaults */
/* #region Mobile Styling */
#hero {
  display: grid;
  place-items: center;
  gap: 1rem;
}
#hero img {
  width: 100%;
}
#hero h1 {
  font-weight: normal;
}
#hero div {
  background-color: var(--dark-raspberry-bg);
  width: 19.375rem;
  height: 11.875rem;
}

/* #endregion Mobile Styling */
/* #region Desktop Styling */
/* #endregion Desktop Styling */
/* #region Active states */
/* #endregion Active states */
