/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  --ff-head: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-head);
}

body {
  display: inherit;
  height: inherit;
  font-family: var(--ff-body);
  display: grid;
  place-items: center;
  gap: clamp(1rem, 1.5vw + 0.65rem, 2rem);
}
body main {
  display: contents;
}

h1 {
  color: var(--dark-charcoal);
}

h2, h3, h4, h5, h6 {
  font-family: var(--ff-head);
  font-weight: var(--fw-bold);
  font-size: 2.5rem;
  color: var(--nutmeg);
}

p, ul, ol, strong, b a {
  font-family: var(--ff-body);
  font-weight: var(--fw-reg);
  font-size: 0.9375rem;
  color: var(--wenge-brown);
}

a {
  text-decoration: none;
  background-color: var(--main-bg-color);
}

footer {
  font-family: var(--ff-sub);
  font-size: 0.6875rem;
  position: static;
  inset: auto 0 1rem;
  text-align: center;
  z-index: -1;
}
footer > a {
  font-size: 0.6875rem;
  color: var(--luxury-bg-color);
}

/* #endregion Defaults */
/* #region Mobile Styling */
/* #endregion Mobile Styling */
/* #region Desktop Styling */
/* #endregion Desktop Styling */
/* #region Active states */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* #endregion Active states */
