@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --dark-raspberry-bg: hsl(322, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --ff-head: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

h1,h2,h3,h4,h5,h6 {font-family: var(--ff-head);}

body {
  display: inherit;
  height: inherit;
  font-family: var(--ff-body);
  // line-height: 1em;
  
  // display: grid;
  // place-items: center;
  // gap: clamped(16px, 32px);
  
  // main {
  //   display: contents;
  // }
}

h1 {
  font-size: rem(36px);
  font-weight: 400;
  color: var(--dark-charcoal);
}

h2 {
  font-size: rem(28px);
  color: var(--nutmeg);
}

p,ul,ol,strong,b, a {
  font: {
    family: var(--ff-body);
    size: rem(16px);
  }
  color: var(--wenge-brown);
}

a {text-decoration: none;}

ol, ul {list-style-position: outside;}

#hero li::marker {
  color: var(--dark-raspberry);
}

#ingredients li::marker,
#instructions li::marker {
  color: var(--nutmeg);
}

#hero li::marker,
#ingredients li::marker {
  font-size: rem(10px);
}

#instructions li::marker {
  font-weight: var(--fw-bold);
}

#hero strong {color: var(--dark-raspberry);}

#nutrition b {color: var(--nutmeg);}

footer { 
  font: {
    family:var(--ff-body);
    size: rem(11px);
  }
  text-align: center; 
  
  > a {
    font-size: rem(11px);
    color: var(--dark-raspberry);
  }
}
/* #endregion Defaults */

/* #region Mobile Styling */
#hero {
  display: grid;
  place-items: center;
  row-gap: 1.75rem;
  grid: 
  "   img  img  img   "
  "    .    h1   .    "
  "    .    p    .    "
  "    .   div   .    "
  "    .    .    .    "
  / 1.5rem auto 1.5rem;
  
  img {
    grid-area: img;
    width: min(rem(656px), 100%);
  }
  
  h1 {
    grid-area: h1;
    font-weight: normal;
    line-height: 1em;
  }

  p {
    grid-area: p;
    line-height: 1.5em;
  }

  div {
    grid-area: div;
    background-color: var(--dark-raspberry-bg);
    width: rem(310px);
    height: rem(190px);
    display: grid;
    place-content: center;
  }

}

/* #endregion Mobile Styling */

/* #region Desktop Styling */
@media only screen and (min-width: em(768px)) {
  img {
    border-radius: rem(10px);
  }
}

@media only screen and (min-width: em(920px)) {

}
/* #endregion Desktop Styling */

/* #region Active states */

/* #endregion Active states */
